<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArnaC47cL0a68Pi2p8K6vUjpoku-DWlPM</string>
	<key>GCM_SENDER_ID</key>
	<string>732330939838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niagaraautomations.oro</string>
	<key>PROJECT_ID</key>
	<string>oro-irrigation-a7ccd</string>
	<key>STORAGE_BUCKET</key>
	<string>oro-irrigation-a7ccd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732330939838:ios:05020b4b7eb6e429a455ef</string>
</dict>
</plist>